# ./SERVER/.env.example
# For local blockchain configuration (use this as a template to fill in for the `.env` file).

# After deploying (per README), copy the addresses here:
ROLES_CONTRACT_ADDRESS=
REPUTATION_CONTRACT_ADDRESS=