.root{
  background-color: #1a1a1a;
  padding: 16px 32px;
  border-radius: 10px;
}

.statusBar{
  height: 5px;
  background-color: white;
}

.success {
  background-color: #008000;
}

.error {
  background-color: #FF2C2C;
}

.list {
  list-style: none;
}